{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (
                        name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken');

        function getCookie(name){
            var cookieArr = document.cookie.split(';');

            for(var i = 0; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split('=');
                if(name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1])
                }
            }

            return null
        }

        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('Cart was created!')
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'

        }
        console.log('Cart:', cart)
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>Yanev parts</title>

</head>
<style>
    body {
        background: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

    ul li a.cart:hover {
        text-decoration: none;
        color: black;
    }

    ul li a.cart .cart-basket {
        font-size: .7rem;
        position: absolute;
        top: -6px;
        right: -5px;
        width: 18px;
        height: 18px;
        color: #fff;
        background-color: #f50039;
        border-radius: 50%;
    }

</style>
<body style="background-image: url('{% static "grey_2.jpg" %}')">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="height: 50px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item nav-link px-2">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'yanev.png' %}" alt="png"
                             style="width:90px"></a>
                </li>
                <li class="nav-item nav-link px-2">
                    <a href="#">
                        <img src="{% static 'facebook.png' %}" alt="png"
                             style="width:30px"></a>
                </li>

                <li class="nav-item nav-link px-2">
                    <a href="#">
                        <img src="{% static 'twitter.png' %}" alt="png"
                             style="width:30px"></a>
                </li>
                <li class="nav-item nav-link px-2">
                    <a href="#">
                        <img src="{% static 'linkedin.png' %}" alt="png"
                             style="width:30px"></a>
                </li>

            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" style="font-size: 20px">Начало</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px">
                        Продукти
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {#                        <a class="dropdown-item" href="#">Конвейерни ленти</a>#}
                        <a class="dropdown-item" href="{% url 'bearing body' %}">Лагерни тела</a>
                        <a class="dropdown-item" href="#">Ремъчни шайби</a>
                        <a class="dropdown-item" href="#">Верижни колела с главина</a>
                        <a class="dropdown-item" href="#">Цилиндрични модулни колела</a>
                        <a class="dropdown-item" href="#">Електродвигатели</a>
                        <a class="dropdown-item" href="#">Модулни рейки</a>
                        <a class="dropdown-item" href="#">Редуктори</a>
                        <a class="dropdown-item" href="#">Ролкови вериги</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item font-weight-bold" href="{% url 'conveyor belt' %}">Конвейерни ленти</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size: 20px">Контакти</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 20px">Профил</a>
                    </li>
                    <li class="nav-item" style="font-size: 25px">
                        <a href="{% url 'shopping cart' %}" class="cart position-relative d-inline-flex"
                           aria-label="View your shopping cart" style="font-size: 20px;color: #545151">
                            <i class="fas fa fa-shopping-cart fa-lg"></i>
                            <span class="cart-basket d-flex align-items-center justify-content-center">
                            <b>{{ cart_items }}</b>
                        </span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item" style="font-size: 25px">
                        <a href="{% url 'shopping cart' %}" class="cart position-relative d-inline-flex"
                           aria-label="View your shopping cart" style="font-size: 20px;color: #545151">
                            <i class="fas fa fa-shopping-cart fa-lg"></i>
                            <span class="cart-basket d-flex align-items-center justify-content-center">
                            <b>0</b>
                        </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div style="background-color: #dce9ef;height: 20px">

</div>
{#<script type="text/javascript" src="{% static 'js/cart.js' %}" ></script>#}
</body>
{#<nav class="navbar navbar-expand-lg" style="background-color: #226d86">#}
{#</nav>#}
{#<nav class="navbar navbar-expand-lg" style="background-color: #e7edf1;height: 180px">#}
{#</nav>#}

{% block page_content %}
{% endblock %}

{#<div style="background-color: #333333;height: 15rem">#}
{#    <div class="container mb-5">#}
{#        <div class="row mb-5 py-3" style="border-bottom: 1px solid white">#}
{#            <div class="col d-flex justify-content-center">#}
{#                <h4 class="fw-bold" style="color: white;">#}
{#                    Янев ООД#}
{#                </h4>#}
{#                <div class="col-1">#}
{#                    <h4 class="fw-bold" style="color: white;">#}
{#                        Янев ООД#}
{#                    </h4>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
