{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div style="background-color: #480410;height: 50px">
        <div class="container mb-5 py-3">
            <div class="row mb-5">
                <h5 class="font-weight-bold" style="color: #dce9ef;font-style: italic">
                    <a href="{% url 'home' %}" style="color: white;text-decoration: none"> Начало &#10097 </a> Лагерни
                    тела
                </h5>
            </div>
        </div>
    </div>
    <div class="container py-3" style=" height: 25rem">
        <div class="row align-items-start">
            <div class="col d-flex justify-content-start py-3">
                <a href="{% url 'UCF' %}" style="text-decoration: none">
                    <div class="card mb-4">
                        <div class="card-body p-2" style="background-color: #dce9ef">
                            <div class="text-center">
                                <h4 class="card-title" style="font-style: italic;color: #480410;">
                                    Тип UCF</h4>
                            </div>
                            <img src="{% static 'UCF.jpg' %}" style="height: 17rem;width: 20rem">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col d-flex justify-content-start py-3">
                <a href="{% url 'UCFL' %}" style="text-decoration: none">
                    <div class="card mb-4">
                        <div class="card-body p-2" style="background-color: #dce9ef">
                            <div class="text-center">
                                <h4 class="card-title" style="font-style: italic;color: #480410;">
                                    Тип UCFL</h4>
                            </div>
                            <img src="{% static 'UCFL_.jpg' %}" style="height: 17rem;width: 20rem">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col d-flex justify-content-start py-3">
                <a href="{% url 'UCF' %}" style="text-decoration: none">
                    <div class="card mb-4">
                        <div class="card-body p-2" style="background-color: #dce9ef">
                            <div class="text-center">
                                <h4 class="card-title" style="font-style: italic;color: #480410;">
                                    Тип UCP</h4>
                            </div>
                            <img src="{% static 'bearing.jpg' %}" style="height: 17rem;width: 20rem">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    
    </div>

{% endblock %}