{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div style="background-color: #480410;height: 50px">
        <div class="container mb-5 py-3">
            <div class="row mb-5">
                <h5 class="font-weight-bold" style="color: #dce9ef;font-style: italic">
                    <a href="{% url 'home' %}" style="color: white"> Начало &#10097 </a> Лагерни тела
                </h5>
            </div>
        </div>
    </div>
    <div class="container py-3" style=" height: 25rem">
        <div class="row align-items-start">
            <div class="col d-flex justify-content-start py-3">
                <div class="card mb-4">
                    <div class="card-body p-2" style="background-color: #dce9ef">
                        <div class="text-center">
                            <h4 class="card-title" style="font-style: italic;color: #480410;">
                                Лагерни тела</h4>
                        </div>
                        <img src="{% static 'bearing_body.jpg' %}" style="height: 20rem">
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-end py-3">

            </div>
        </div>

        <div class="row align-items-end" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                <b>UCF</b>
            </div>
            <div class="col">
                <b>Ø MM

                </b>
            </div>
            <div class="col">
                <b>A</b>
            </div>
            <div class="col">
                <b>F</b>
            </div>
            <div class="col">
                <b>(l)</b>
            </div>
            <div class="col">
                <b>(r)</b>
            </div>
            <div class="col">
                <b>(e)</b>
            </div>
            <div class="col">
                <b>(f)</b>
            </div>
            <div class="col">
                <b>(m)</b>
            </div>
            <div class="col">
                <b>(w)</b>
            </div>
            <div class="col">
                <b>(v)</b>
            </div>
            <div class="col">
                <b>Кг.</b>
            </div>
            <div class="col">
                <b>Цена</b>
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                101
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                25,24
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                102
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                25,24
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                103
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                25,24
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                104
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                25,24
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                105
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                25,24
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                106
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                25,24
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                107
                (UCF)
            </div>
            <div class="col">
                22,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                3
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                14
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,76
            </div>
            <div class="col">
                15,99
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                108
                (UCF)
            </div>
            <div class="col">
                15,4
            </div>
            <div class="col">
                3
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                2
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                15,2
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                13
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                13,99
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                109
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,84
            </div>
            <div class="col">
                16,99
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                110
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                1
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                3
            </div>
            <div class="col">
                12,5
            </div>
            <div class="col">
                13
            </div>
            <div class="col">
                22
            </div>
            <div class="col">
                7
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                0,95
            </div>
            <div class="col">
                17,99
            </div>
        </div>
        <div class="row align-items-start" style="background-color: lightgray;height: 75px;border-bottom: 1px solid gray;border-top: 1px solid gray">
            <div class="col">
                111
                (UCF)
            </div>
            <div class="col">
                20,5
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                11
            </div>
            <div class="col">
                8
            </div>
            <div class="col">
                4
            </div>
            <div class="col">
                15,6
            </div>
            <div class="col">
                16
            </div>
            <div class="col">
                2
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                5
            </div>
            <div class="col">
                1,15
            </div>
            <div class="col">
                18,99
            </div>
        </div>


{#        <div class="row" style="background-color: lightgray;height: 50px">#}
{#            <div class="col">#}
{#                ffafafafa#}
{#            </div>#}
{#            <div class="col">#}
{#                ffafafafa#}
{#            </div>#}
{#            <div class="col">#}
{#                ffafafafa#}
{#            </div>#}
{#            <div class="col">#}
{#                ffafafafa#}
{#            </div>#}
{#        </div>#}
{#        <div class="row" style="background-color: lightgray;height: 50px">#}
{#            <div class="col">#}
{#ffafafafa#}
{#            </div>#}
{#            <div class="col">#}
{#ffafafafa#}
{#            </div>#}
{#            <div class="col">#}
{#ffafafafa#}
{#            </div>#}
{#            <div class="col">#}
{#ffafafafa#}
{#            </div>#}
{#        </div>#}


        {#        <div class="row">#}
        {#            <div class="card" style="background-color: #ecebeb;border-bottom: 3px solid gray" >#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card" style="background-color: #ecebeb">#}
        {#                <div class="card-body">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>

{% endblock %}