{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block page_content %}
    <div style="background-color: #480410;height: 50px">
        <div class="container mb-5 py-3">
            <div class="row mb-5">
                <h5 class="font-weight-bold" style="color: #dce9ef;font-style: italic">
                    <a href="{% url 'home' %}" style="color: white"> Начало &#10097 </a> Kонвейерни ленти
                </h5>
            </div>
        </div>
    </div>
    <div class="container mb-5 py-3">
        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <div class="card mb-4" style="width: 25rem">
                    <div class="card-body p-2" style="background-color: #dce9ef">
                        <div class="text-center">
                            <h4 class="card-title" style="font-style: italic;color: #480410;">
                                Информация</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'black_conv.jpg' %}" style="height: 24rem">
                        </div>
                        <div class="d-flex justify-content-end">
                            <h5 style="font-style: italic;color: #480410;">
                                Нашите динамични многофункционални конвейери и транспортьори, повишават
                                ефективността и производителността на складовите пространства, производствените бази,
                                логистичните центрове и дистрибуционните хъбове. Основната цел при изграждането им е да
                                бъде намалено времето за транспортиране на стоки между зоната на получаването им и
                                мястото за съхранение или пикиране, което увеличава продуктивността и ефективността.
                                Същевременно, нашите транспортьорите значително намаляват човешкия труд и дистанциите,
                                които
                                операторите трябва да изминават при подготовката на всяка заявка към склада.
                                Системите от конвейери могат да бъдат с лентова, верижна или ролкова тяга.
                                <b>
                                    Доверете ни се и подобрете произведителността си !
                                </b>
                                <div class="d-flex justify-content-center py-3">
                                    <h2>
                                        YANEV Corp.
                                    </h2>
                                </div>

                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col  d-flex justify-content-center">
                <div class="card mb-4" style="width: 28rem">
                    <div class="card-body p-2" style="background-color: #dce9ef">
                        <div class="text-center">
                            <h4 class="card-title" style="font-style: italic;color: #480410;">
                                Направете запитване</h4>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-secondary btn-lg btn-block" style="color: white">
                                Направи запитване
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}