{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block page_content %}

    <div style="background-color: #480410;height: 50px">
        <div class="container mb-5 py-3">
            <div class="row mb-5">
                <h5 class="font-weight-bold" style="color: #dce9ef;font-style: italic">
                    <a href="{% url 'home' %}" style="color: white"> Начало &#10097 </a> Лагерни тела
                </h5>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <div class="card">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}